h1  {
    color: rgb(0, 140, 255);
    font-size: 128px;
    }
    h1  {text-align: center;}
    h2  {text-indent:64px;
        font-size: 64px}
    p   {
    text-indent:64px;
    font-size: 32px;}
    a{
    text-indent: 64px;
    font-size: 32px;}
    body {background-image: url("dress.jpg")}
    span{
        position: absolute;
        top: 1;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        text-indent: 0px;
    }